<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<table id="Menu">
    <tr id="NavItem">
        <td>
        @Html.ActionLink("Meanings", "Index", "Meaning")
            </td>
        </tr>
    <tr id="NavItem">
        <td>
            @Html.ActionLink("Words", "Index", "Word")
            </td>
    </tr>
    <tr id="NavItem">
        <td>
            @Html.ActionLink("Lessons", "Index", "Lesson")
        </td>
    </tr>
    <tr id="NavItem">
        <td>
            @Html.ActionLink("Admin Portal", "Index", "Admin")
        </td>
    </tr>
    <tr id="NavItem">
        <td>
            @Html.ActionLink("Home", "Index", "Home")
        </td>
    </tr>
</table>