@model IEnumerable<LangInformant.Domain.Entities.Meaning>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditMeaning", new { item.MeaningID }) |
            @Html.ActionLink("Details", "MeaningDetails", new { item.MeaningID }) |
            @Html.ActionLink("Delete", "DeleteMeaning", new { item.MeaningID })
        </td>
    </tr>
}

</table>
